.fighter-container
    .fighter-left.fighter-card(data-id="")
        .fighter-name
        .health-indicator
            .indicator.good(style="width: 100%;")
        .fighter-image
            img(src="", alt="")
        .fighter-bang.fighter-hits
            .fighter-hit-count
                span -15
            img(src="./img/bang.png", alt="Bang!")
        .fighter-avoid.fighter-hits
            img(src="./img/avoid.png", alt="Avoid!")
        .fighter-winner.fighter-hits
            img(src="./img/winner.png", alt="Winner!")
        .fighter-health.good
    .fight
        .fight-title.hidden Please wait when the fight ends!
        img.bang(src="./img/vs.png", alt="VS")
        button.btn.btn-start.btn-big Fight
    .fighter-right.fighter-card(data-id="")
        .fighter-name
        .health-indicator
            .indicator.good(style="width: 100%;")
        .fighter-image
            img(src="", alt="")
        .fighter-bang.fighter-hits
            .fighter-hit-count
                span -15
            img(src="./img/bang.png", alt="Bang!")
        .fighter-avoid.fighter-hits
            img(src="./img/avoid.png", alt="Avoid!")
        .fighter-winner.fighter-hits
            img(src="./img/winner.png", alt="Winner!")
        .fighter-health.good
