html,
body
  height: 100%
  width: 100%
  +margin(0)
  +padding(0)
  font-family: Tahoma, Arial, sans-serif
  font-size: 16px

body.noscroll
  overflow: hidden

body
  +padding(5rem 0)

#root
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  height: 100%
  width: 100%

.fighters
  display: flex
  justify-content: space-between
  align-items: center
  flex: 1
  flex-wrap: wrap
  +padding(0 15px)

.loader
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  display: flex
  align-items: center
  justify-content: center
  font-size: 18px
  background: $loader_bg_color
  visibility: visible

.btn
  background-color: white
  border-radius: .3rem
  border: 1px solid $border_grey
  +padding(.5rem .8rem)
  text-align: center
  font-size: 1.1rem
  cursor: pointer
  transition: ease all $common_transition

.btn:hover
  color: white
  background-color: $border_grey
  transition: ease all $common_transition

.btn-save
  border-color: $btn_save
  color: $btn_save

.btn-save:hover
  background-color: $btn_save

.btn-block
  display: block
  width: 100%

.btn-select
  color: green
  border-color: green

.btn-select:hover
  background-color: green

.fight-settings
  text-align: center
  position: absolute
  +padding(0.5rem)
  width: 100%
  top: 0

.btn-go
  border-color: darkmagenta
  color: darkmagenta

.btn-go:hover
  background-color: darkmagenta

.btn-start:hover
  border-color: red
  color: red

.btn-start
  background-color: red
  border-color: red
  color: white

.btn-big
  font-size: 1.3rem

.btn:disabled
  pointer-events: none
  +opacity(.65)

.messages
  text-align: center
  +margin(1rem 0 0 0)
  > div
    +padding(.5rem 2rem .5rem 1rem)
    border-left: 3px solid white
    background-color: white
    box-shadow: 2px 2px 5px $window_shadow
    display: inline-block
    position: relative
  .success
    border-color: green
  .error
    border-color: red
  .close
    position: absolute
    right: 3px
    top: 6px
    border-radius: 50%
    border: 1px solid $border_grey
    width: 20px
    height: 20px
    cursor: pointer
    color: white
    background-color: $border_grey
    transition: ease all $common_transition
    text-align: center
    font-size: .8rem
  .close:hover
    color: $border_grey
    background-color: white

.hidden
  display: none