.fighter-name
  text-align: center
  font-size: 1.5rem
  font-weight: bold
  +margin(0 0 0.5rem 0)

.popup
  .fighter-image
    border: 1px solid $border_grey
    border-radius: .3rem
    +margin(0 1rem 0 0)
    +padding(.5rem)
    img
      max-width: 100%
      height: auto
      max-height: 100%

.fighter-container
  display: flex
  justify-content: center
  align-items: center

.fighter-parameter
  +margin(0 0 1rem 0)
  label
    display: block
    +margin(0 0 .5rem 0)
  input
    +padding(.5rem .8rem)
    border-radius: .3rem
    border: 1px solid $border_grey
    text-align: center