- var lang = "ru"

doctype html
html(lang=`${lang}`)
- var pageTitle = "Binary Studio Game - Street Fighters"
- var charset = "utf-8"
head
    meta(name="viewport", content="width=device-width, initial-scale=1.0, shrink-to-fit=no")
    meta(charset=charset)
    title=pageTitle
body
    noscript You need to enable JavaScript to run this app
    #root
    .loader#loading-overlay
        img(src="./img/logo.png" alt="")
    .fight-settings.hidden
        button.btn.btn-go Go Fight!
        .messages
    include popup/popup